@font-face {
    font-family: "Couriernew";
    src: url(../fonts/courier/couriernew.ttf);
}
body {
    
    background-image: linear-gradient(to right, rgb(234, 210, 72), rgb(108, 108, 12));
}
main {
    display: flex;
    justify-content: center;
    height: 100vh;
}
article {
    font: 16px "Couriernew", monospace;
    position: relative;
}
fieldset legend {
    font-weight: 700;

    border: 1px solid rgb(61, 56, 56);
    background-color: rgb(220, 225, 197);
    padding: 2px;


}
h1, h2 {
    text-align: center;
}
fieldset {
    margin-bottom: 10px;
    box-shadow: 6px 3px rgb(105, 102, 102);

    position:relative;
    background-color: rgb(220, 225, 197);
    top: auto;
    border: 1px solid black;
}
section {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
}
li {
    list-style-type: none;
    position: relative;
}
.printResultDispNone {
    display: none;

}

input[type="radio"] {
    opacity: 0;
}
label {
    position: relative;
}
label[for]::before {
    content: '';
    display: block;
    width: 1rem;
    height: 1rem;
    

    background-image: url(../img/icon-radio-empty.svg);
    background-position: center;
  
    position: absolute;
    left: -1.5rem;
    top: 2px;
  
    border-radius: 0.3rem;
}
label[for]:hover::before {
    opacity: 0.5;
    background-image: url(../img/icon-radio-checked.svg);
    background-position: center;
}
input:checked + label[for]::before {
    opacity: 1;
    background-image: url(../img/icon-radio-checked.svg);
    background-position: center;
}
.printResultDispNone {
    margin-top: 10px;
    background-color: rgb(197, 201, 177);
    border: 1px solid black;
    box-shadow: 6px 3px rgb(105, 102, 102);
}
.parametr {
    position: relative;
}
.checkedInput::before {
    content: '';
    display: block;
    width: 1rem;
    height: 1rem;

    background-image: url(../img/icon-check.svg);
    background-position: center;
  
    position: absolute;
    right: -5rem;
    top: 2px;
  
    border-radius: 0.3rem;
}
.submit:hover {
    background-color: rgb(64, 255, 47);
}
.reset:hover {
    border: 1px solid black;
    color: black;
    background-color: rgb(212, 28, 28);
}